# Игнорирование временных файлов и каталогов
node_modules/
dist/
build/
.cache/

# Игнорирование конфигурационных файлов
.env
.env.local
.env.*.local

# Игнорирование файлов редакторов
.vscode/
.idea/

# Игнорирование системных файлов
.DS_Store
Thumbs.db

# Игнорирование файлов логов
*.log

# Игнорирование файлов резервных копий
*.bak
*.swp

# Игнорирование файлов с настройками пользователя
npm-debug.log*

# Игнорирование временных файлов
*~

# Игнорирование файлов настроек проекта
.project
.settings/
